html {
    height: auto;
}

.box-body {
    padding:15px !important;
}


.box-header {
    padding-top:20px;
}
.tooltip-inner {
    max-width: 350px;
    width: 350px;
    text-align: left;
    word-wrap: break-word;
}
