html {
    height: auto;
}

.box-body {
    padding:15px !important;
}


.box-header {
    padding-top:20px;
}

.tooltip {
    min-width: 250px; //the minimum width
}

.tooltip.bottom {
	padding: 5px 0;
  margin-top: 10px;
}
